# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# book example code
spring5fs-master/

/.idea/
/chap02/.idea/
/chap03/.idea/
/chap04/.idea/
/chap05/.idea/
/chap06/.idea/
/chap07/.idea/
/chap08/.idea/
/chap09/.idea/
/chap11/.idea/
/chap12/.idea/
/chap13/.idea/
/chap14/.idea/
/chap15/.idea/
/chap16/.idea/
/chap_final/.idea/

/chap02/target/
/chap03/target/
/chap04/target/
/chap05/target/
/chap06/target/
/chap07/target/
/chap08/target/
/chap09/target/
/chap11/target/
/chap12/target/
/chap13/target/
/chap14/target/
/chap15/target/
/chap16/target/
/chap_final/target/

*.iml